.popup__button-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;

  background-color: transparent;
  background-image: url(../../../images/popup__close-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: opacity 0.2s ease;
}

.popup__button-close, .popup__button-close:active, .popup__button-close:focus {
  outline: none;
}

.popup__button-close:hover {
  cursor: pointer;
  opacity: 0.6;
}


@media screen and (max-width: 510px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
  }
}
