.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid rgba(84, 84, 84, 0.7);

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media screen and (max-width: 882px) {
  .header {
    padding: 0 28px;
  }
}
